.logo {
  padding-left: 100px;
}

.img-fluid {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 70px;
  width: 125px;
}

.col-5{
  padding-bottom: 70px;
  padding-left: 60px;
}

.col-5 .img-thumbnail {
  width: 500px;
  transition: transform 0.3s ease-in-out;
  /* Smooth transition */
}

.col-5 .img-thumbnail:hover {
  transform: scale(1.1);
  /* Zoom effect on hover */
}

/* other half of the page */

.vertical-line {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 40%;
  width: 1px;
  /* just because I want a thin line for design purposes. */
  height: 650px;
  /* to adjust the length of the line*/
  background-color: #000;
}

.col-7 h2{
  text-align: right;
  padding-right: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700px;
}

.col-7 p{
  text-align: justify;
  padding-right: 50px;
  font-family: sans-serif;
}

/* footer */

footer {
  background-color: #ffd860;
  color: #000000;
  padding: 20px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.mail-icon{
  width: 50px;
  height: 50px;
  margin-left: 70px; /* so that the spacing is effected only on the outside */
}

.mail-icon img {
  display: block;
  width: 100%;
}

.mail-icon a {
  padding-left: 400px;
  /* so that the mail icon is aligned with the left part of the text of the footer*/
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* so that all the content is in line (being vertically aligned)*/
  max-width: 1500px;
  /* large amount of px was needed so a good amount of space is distributed between */
  margin: 0 auto;
}

.container-fluid{
  padding: 50px;
}

.col-3{
  padding-top: 20px;
}

.col-3 p {
  padding-left: 70px;
  /* to leave space between the cols */
}

.col-4 p {
  padding-left: 30px;
  padding-right: 40px;
  /* to leave space between the cols */
  padding-top: 20px;
}

.col-3 a {
  text-decoration: none;
  padding-left: 70px;
  color: #fff;
}

footer ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
}

footer ul li {
  margin-bottom: 5px;
  text-align: center;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}