.logo {
  padding-left: 100px;
}

.headline h4{
  padding-bottom: 100px;
}

.img-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  width: 125px;
}

.container {
  margin-bottom: 30px;
}

.col-5 {
  padding-bottom: 70px;
  padding-left: 60px;
  padding-right: 30px;
}

.col-5 .img-thumbnail {
  width: 500px;
  transition: transform 0.3s ease-in-out;
  /* Smooth transition */
}

.col-5 .img-thumbnail:hover {
  transform: scale(1.1);
  /* Zoom effect on hover */
}

/* other half of the page */

.col-7 {
  border-left: #000000 1px solid;
  padding-left: 40px;
}

.col-7 h3 {
  text-align: left;
  padding-right: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}

.col-7 h5 {
  text-align: right;
  padding-right: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}

.col-7 p {
  text-align: justify;
  padding-right: 50px;
  padding-bottom: 40px;
  font-family: sans-serif;
}

.text h4 b {
  margin-left: 10px;
}

.circle {
  /* this is for the filled circles, which show the ranking */
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  padding-left: 10px;
}

.outline {
  /* this is for circles to be only outlined to show lower ranking, only used if in the html is included */
  background-color: transparent;
    border: 2px solid black;

}

/* skills bar animation - only for abandoned.htmls articles */

.skills-container{
  position: relative;
  max-width: 500px;
  width: 100%;
  background: white;
  margin: 1px 15px;
  padding: 10px 20px;
  border-radius: 7px;
}

.skills-container .skill-box{
  width: 100%;
  margin: 25px 0;
}

/* rainbow aircraft*/
.skill-box1 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box1 .skill-bar1{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar1 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box2 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box2 .skill-bar2{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar2 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 95%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}

.skill-box3 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box3 .skill-bar3{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar3 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 60%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}

/* fawwara */
.skill-box4 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box4 .skill-bar4{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar4 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 60%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box5 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box5 .skill-bar5{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar5 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 40%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box6 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box6 .skill-bar6{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar6 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 20%;
  border-radius: 6px;
  background: #7d1414;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}

/* fort champbell */
.skill-box7 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box7 .skill-bar7{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar7 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 20%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box8 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box8 .skill-bar8{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar8 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 50%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box9 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box9 .skill-bar9{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar9 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 30%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
 /* harq hamiem article */
.skill-box10 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box10 .skill-bar10{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar10 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 15%;
  border-radius: 6px;
  background: #771111;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box11 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box11 .skill-bar11{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar11 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 30%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box12 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box12 .skill-bar12{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar12 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 10%;
  border-radius: 6px;
  background: #771111;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
 /* salina catacombs article */
.skill-box13 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box13 .skill-bar13{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar13 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box14 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box14 .skill-bar14{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar14 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box15 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box15 .skill-bar15{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar15 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
 /* st.philips article */
.skill-box16 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box16 .skill-bar16{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar16 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 15%;
  border-radius: 6px;
  background: #771111;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box17 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box17 .skill-bar17{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar17 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box18 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box18 .skill-bar18{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar18 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 50%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
 /* abandoned mellieha tower article */
.skill-box19 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box19 .skill-bar19{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar19 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box20 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box20 .skill-bar20{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar20 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box21 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box21 .skill-bar21{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar21 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
 /* ulysses lodge article */
.skill-box22 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box22 .skill-bar22{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar22 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box23 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box23 .skill-bar23{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar23 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box24 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box24 .skill-bar24{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar24 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 60%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
 /* white rocks article */
.skill-box25 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box25 .skill-bar25{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar25 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 60%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box26 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box26 .skill-bar26{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar26 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  border-radius: 6px;
  background: #ffd860;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}
.skill-box27 .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.skill-box27 .skill-bar27{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar27 .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  border-radius: 6px;
  background: #ff2727;
  animation: progress 0.8s ease-in-out forwards;
  opacity: 0;
}


@keyframes progress {
  0%{
    width: 0;
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
/* footer */

footer {
  background-color: #ffd860;
  color: #000000;
  padding: 20px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.mail-icon {
  width: 50px;
  height: 50px;
  margin-left: 70px;
  /* so that the spacing is effected only on the outside */
}

.mail-icon img {
  display: block;
  width: 100%;
}

.mail-icon a {
  padding-left: 400px;
  /* so that the mail icon is aligned with the left part of the text of the footer*/
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* so that all the content is in line (being vertically aligned)*/
  max-width: 1500px;
  /* large amount of px was needed so a good amount of space is distributed between */
  margin: 0 auto;
}

.container-fluid{
  padding: 50px;
}

.col-3 {
  padding-top: 20px;
}

.col-3 p {
  padding-left: 70px;
  /* to leave space between the cols */
}

.col-4 p {
  padding-left: 30px;
  padding-right: 40px;
  /* to leave space between the cols */
  padding-top: 20px;
}

.col-3 a {
  text-decoration: none;
  padding-left: 70px;
  color: #fff;
}

footer ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
}

footer ul li {
  margin-bottom: 5px;
  text-align: center;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}