body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
}

.img-fluid {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 80px;

}

/* yellow design*/
.yellow-rectangle {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 50px; /* the width of the rectangle */
    height: 100%; /* spanning the full height of the viewport */
    background-color: #ffd860;
}

.title h1::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #ffd860;
}

/* content */

.title{
    padding-top: 20px;
    padding-bottom: 30px;
}
.title h1{
    font-size: 80px;
    font-weight: 900;
    position: relative;
    display: flex;
}



.personal-information{
    padding-bottom: 30px;

}

label {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 0px;
}

/* bootstrap buttons layout */

.buttons{
    padding-top: 20px;
}

