body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* All the content over the background image*/

.background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.homeBg {
    position: relative;
    z-index: 1;
    color: white;
}

.logo img{
    max-width: 100%;
}

/* the text in the center-middle of the background image */
.col-12 h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    text-align: center;
    font-weight: 700;

}
 /* Navigation Bar */
.nav {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

nav a {
    color: white;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
}


/* footer */

footer {
    background-color: #ffd860;
    color: #000000;
    padding: 20px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
}

.mail-icon img {
    width: 50px;
    height: auto;
    padding-left: 400px;
    /* so that the mail icon is aligned with the left part of the text of the footer*/
    padding-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* so that all the content is in line (being vertically aligned)*/
    max-width: 1500px;
    /* large amount of px was needed so a good amount of space is distributed between */
    margin: 0 auto;
}


.left,
.middle,
.right {
    flex: 1;
}

.left {
    padding-right: 200px;
    /* to leave space between the left flex basis and middle flex basis */
}


.left p,
.right p {
    margin: 0;
}

.middle ul {
    list-style: none;
    padding: 0;
}

.middle ul li {
    margin-bottom: 10px;
}

.middle ul li a {
    color: #fff;
    text-decoration: none;
}

.middle ul li a:hover {
    text-decoration: underline;
}